<div class="row">
  <div class="col-xs-6">
    <%= form_for(review) do |f| %>
       <% if review.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, 'タイトル(50字以下)' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :genre, 'ジャンル(20字以下)' %>
        <%= f.text_field :genre, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :score, '評価(0~5の整数で入力してください)' %>
        <%= f.text_field :score, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, 'レビュー(1000字以下)' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>