<div class="row">
  <div class="col-xs-6">
    <%= search_form_for(@q, url:search_path) do |f| %>
    
      <div class="form-group">
        <%= f.label :title_cont, "タイトル検索" %>
        <%= f.search_field :title_cont, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :genre_cont, "ジャンル検索" %>
        <%= f.search_field :genre_cont, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :score_cont, "評価検索" %>
        <%= f.search_field :score_cont, class: "form-control" %>
      </div>
      <div class="action">
      <%= f.submit "この条件で検索する" %>
      </div>
    <% end %>
  </div>  
</div>    